@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

// to center something
@mixin centered {
   display: flex;
   justify-content: center;
   align-items: center;
}

// Colors
$bgColor: rgb(115, 245, 154);
$containerColor: whitesmoke;
$starColor: rgb(190, 190, 190);
$levelColor: rgb(190, 190, 190);
$starColor: rgb(231, 231, 20);

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   body {
      @include centered;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background: $bgColor;
      font-family: 'Roboto', sans-serif;

      .container {
         width: 300px;
         height: 100px;
         background-color: $containerColor;
         border-radius: 15px;
         box-sizing: content-box;
         padding: 10px;
         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

         .title-level {
            @include centered;
            justify-content: space-between;
            width: inherit;
            height: 30px;

            .title {
               @include centered;
               justify-content: unset;
               padding-left: 20px;
               width: inherit;
               height: 30px;
            }

            .level {
               padding-right: 5px;
               color: $levelColor;
               
               &.slide {
                  animation: slideText .5s linear;

                  @keyframes slideText {
                     0% {
                        opacity: 0;
                        transform: translateX(50px);
                     }

                     100% {
                        opacity: 1;
                        transform: translateX(0);
                     }
                  }
               }
               
            }

         }

         .icon-stars {
            @include centered;
            justify-content: unset;
            width: inherit;
            height: 70px;

            .icon {
               @include centered;
               width: 80px;
               height: inherit;
               font-size: 35px;

               .emoji.animate {
                  animation: pop 0.5s linear;

                  @keyframes pop {
                     0% {
                        transform: scale(1);
                     }

                     50% {
                        transform: scale(1.4);
                     }

                     100% {
                        transform: scale(1);
                     }
                  }
               }
            }

            .stars {
               @include centered;
               justify-content: space-evenly;
               width: 220px;
               height: inherit;

               i {
                  font-size: 30px;
                  color: $starColor;

                  &:hover {
                     cursor: pointer;
                  }

                  &.grow {
                     animation: enlargeStar .5s linear;

                     @keyframes enlargeStar {
                        0% {
                           transform: scale(1);
                        }
                        
                        50% {
                           transform: scale(1.2);
                        }

                        100% {
                           transform: scale(1);
                        }
                     }
                  }
               }

               i.fas {
                  color: $starColor;
               }

            }

         }

      }
      
   }  
}

